@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.description a {
    color: blue;
  }

.sidebar{
    transition: left 0.3s ease, background-color 0.3s ease;;
    z-index: 999;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.sidebar.open {
    left: 0;
  }